<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AdminAuthentication</filter-name>
        <filter-class>filter.AdminAuthentication</filter-class>
    </filter>
    <filter>
        <filter-name>CustomAuthentication</filter-name>
        <filter-class>filter.CustomAuthentication</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CustomAuthentication</filter-name>
        <servlet-name>Payment</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminAuthentication</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>controller.admin.danhmuc.Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Create</servlet-name>
        <servlet-class>controller.admin.danhmuc.Create</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>controller.admin.danhmuc.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.home.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.home.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.home.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>controller.home.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sigup</servlet-name>
        <servlet-class>controller.home.Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NccCreate</servlet-name>
        <servlet-class>controller.admin.nhacungcap.Create</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NccIndex</servlet-name>
        <servlet-class>controller.admin.nhacungcap.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NccUpdate</servlet-name>
        <servlet-class>controller.admin.nhacungcap.Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NccDetail</servlet-name>
        <servlet-class>controller.admin.nhacungcap.Detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpDelete</servlet-name>
        <servlet-class>controller.admin.sanpham.Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpIndex</servlet-name>
        <servlet-class>controller.admin.sanpham.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpCreate</servlet-name>
        <servlet-class>controller.admin.sanpham.Create</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpUpdate</servlet-name>
        <servlet-class>controller.admin.sanpham.Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpDetail</servlet-name>
        <servlet-class>controller.admin.sanpham.Detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DmDelete</servlet-name>
        <servlet-class>controller.admin.danhmuc.Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>controller.admin.sanpham.UploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeDetail</servlet-name>
        <servlet-class>controller.home.Detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Order</servlet-name>
        <servlet-class>controller.home.Order</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDelete</servlet-name>
        <servlet-class>controller.home.OrderDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeFilter</servlet-name>
        <servlet-class>controller.home.Filter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Payment</servlet-name>
        <servlet-class>controller.home.Payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TkIndex</servlet-name>
        <servlet-class>controller.admin.taikhoan.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TkDetail</servlet-name>
        <servlet-class>controller.admin.taikhoan.Detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TkUpdate</servlet-name>
        <servlet-class>controller.admin.taikhoan.Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HdIndex</servlet-name>
        <servlet-class>controller.admin.hoadon.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HdDetail</servlet-name>
        <servlet-class>controller.admin.hoadon.Detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TqIndex</servlet-name>
        <servlet-class>controller.admin.tongquan.Index</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/admin/danhmuc/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Create</servlet-name>
        <url-pattern>/admin/danhmuc/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/admin/danhmuc/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/home/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/home/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/home/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sigup</servlet-name>
        <url-pattern>/home/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NccUpdate</servlet-name>
        <url-pattern>/admin/nhacungcap/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NccIndex</servlet-name>
        <url-pattern>/admin/nhacungcap/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NccCreate</servlet-name>
        <url-pattern>/admin/nhacungcap/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NccDetail</servlet-name>
        <url-pattern>/admin/nhacungcap/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpDelete</servlet-name>
        <url-pattern>/admin/sanpham/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpIndex</servlet-name>
        <url-pattern>/admin/sanpham/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpCreate</servlet-name>
        <url-pattern>/admin/sanpham/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpUpdate</servlet-name>
        <url-pattern>/admin/sanpham/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpDetail</servlet-name>
        <url-pattern>/admin/sanpham/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DmDelete</servlet-name>
        <url-pattern>/admin/danhmuc/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/admin/sanpham/uploadfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeDetail</servlet-name>
        <url-pattern>/home/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Order</servlet-name>
        <url-pattern>/home/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDelete</servlet-name>
        <url-pattern>/home/orderdelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeFilter</servlet-name>
        <url-pattern>/home/filter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Payment</servlet-name>
        <url-pattern>/home/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TkIndex</servlet-name>
        <url-pattern>/admin/taikhoan/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TkDetail</servlet-name>
        <url-pattern>/admin/taikhoan/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TkUpdate</servlet-name>
        <url-pattern>/admin/taikhoan/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HdIndex</servlet-name>
        <url-pattern>/admin/hoadon/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HdDetail</servlet-name>
        <url-pattern>/admin/hoadon/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TqIndex</servlet-name>
        <url-pattern>/admin/tongquan/index</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
